{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}

{% block extra_head %}
<title>Medications</title>
{% endblock %}

{% block main-content %}
<h1>Medications</h1>
<h2>Ongoing Treatments</h2>
{% if treatments %}
<table class="flock-list">
        <thead>
        <tr class="table-header">
            <td>{% trans 'Flock' %}</td>
            <td>{% trans 'Start Date' %}</td>
            <td>{% trans 'Medication' %}</td>
            <td>{% trans 'Number of applications' %}</td>
            <td>{% trans 'Total of medication used' %}</td>
        </tr>
        </thead>
        {% for treatment in treatments %}
            <tr class="table-row">
                <td><a href="{% url 'medications:view_treatment' treatment.id %}">{{treatment.flock}}</a></td>
                <td>{{ treatment.start_date }}</td>
                <td>{{ treatment.medication.name }}</td>
                <td>{{ treatment.number_of_application }}</td>
                <td>{{ treatment.total_amount_used }}[{{ treatment.medication.quantity_unit }}]</td>
            </tr>
        {% endfor %}
</table>
{% else %}
<p>{% trans 'Very good! No ongoing treatments.' %}</p>
{% endif %}
<a href="{% url 'medications:treatment_list' %}">{% trans 'View all treatments' %}</a>
<h2>Medicine Stock</h2>
{% if medications %}
<table>
        <thead>
        <tr class="table-header">
            <td>{% trans "Name" %}</td>
            <td>{% trans "Available Dosage" %}</td>
        </tr>
        </thead>
        {% for medication in medications %}
            <tr class="table-row">
            <td><a href="{% url 'medications:view_medication' medication.id %}">{{medication.name}}</a></td>
            <td>{{medication.availability}}[{{ medication.quantity_unit }}]</td>
            </tr>
        {% endfor %}
</table>
{% else %}
<p>{% trans 'No medications registered' %}</p>
{% endif %}

<h2>{% trans 'Actions:' %}</h2>
<div class="actions">
    <div class="single-action">
    <a href="{% url 'medications:new_discard'  %}">
    <div class="action-box">
        <img src=""/>
        <span class="action-text">{%  trans "Discard medication" %}</span>
    </div>
    </a>
    </div>
    <div class="single-action">
    <a href="{% url 'medications:new_medication' %}">
    <div class="action-box">
        <img src=""/>
        <span class="action-text">{%  trans "New medication" %}</span>
    </div>
    </a>
    </div>
    <div class="single-action">
    <a href="{% url 'medications:new_entry' %}">
    <div class="action-box">
        <img src=""/>
        <span class="action-text">{%  trans "New medication entry" %}</span>
    </div>
    </a>
    </div>
    <div class="single-action">
    <a href="{% url 'medications:new_treatment' %}">
    <div class="action-box">
        <img src=""/>
        <span class="action-text">{%  trans "New treatment" %}</span>
    </div>
    </a>
    </div>
</div>

{% endblock %}