{% extends "base2.html" %}
{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'flocks/flocks.css' %}" />
<title>{% trans "Medication Information" %}</title>
{% block main_content %}
    <h2 class="sub-header">{% trans "Medication Information" %}</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">General Information</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>{% trans "Medication name:" %} {{ medication.name }}</li>
                        <li>{% trans "Recommended age to start:" %} {{ medication.recommended_age_start }}</li>
                        <li>{% trans "Recommended age to stop:" %} {{ medication.recommended_age_stop }}</li>
                        <li>{% trans "Recomended dosage/kg:" %} {{ medication.dosage_per_kg }} [{{ medication.quantity_unit }}/kg]</li>
                        <li>{% trans "Stock:" %} {{ medication.availability }} [{{ medication.quantity_unit }}]</li>
                        <li>{% trans "Instructions:" %} {{ medication.instructions }}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}