{% extends "base.html" %}
{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'flocks/flocks.css' %}" />
<title>{% trans "Medication Information" %}</title>
{% block main-content %}
<h1>{% trans "Medication Information" %}</h1>

<h2>{% trans "General Information" %}</h2>
<ul>
    <li>{% trans "Medication name:" %} {{ medication.name }}</li>
    <li>{% trans "Recommended age to start:" %} {{ medication.recommended_age_start }}</li>
    <li>{% trans "Recommended age to stop:" %} {{ medication.recommended_age_stop }}</li>
    <li>{% trans "Recomended dosage/kg:" %} {{ medication.dosage_per_kg }} [{{ medication.quantity_unit }}/kg]</li>
    <li>{% trans "Stock:" %} {{ medication.availability }} [{{ medication.quantity_unit }}]</li>
    <li>{% trans "Instructions:" %} {{ medication.instructions }}</li>
</ul>

<h2>{% trans 'Actions:' %}</h2>
<div class="actions">
    <div class="single-action">
    <a href="{% url 'medications:new_entry'  %}">
    <div class="action-box">
        <img src=""/>
        <span class="action-text">{%  trans "New Entry" %}</span>
    </div>
    </a>
    </div>
    <div class="single-action">
    <a href="{% url 'medications:new_discard' %}">
    <div class="action-box">
        <img src=""/>
        <span class="action-text">{%  trans "New Discard" %}</span>
    </div>
    </a>
    </div>
    <div class="single-action">
    <a href="{% url 'medications:new_treatment'  %}">
    <div class="action-box">
        <img src=""/>
        <span class="action-text">{%  trans "New Treatment" %}</span>
    </div>
    </a>
    </div>
</div>

{% endblock %}