{% load i18n %}
{% load l10n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
<div class="login-page">
  <div class="form">
    {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    <img src="{% static 'favicon.ico' %}" alt="Logo"/>
    <form class="login-form" method="post" action={% url 'login' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
  </div>
</div>


