{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}{{ form.media }}
{% endblock %}
{% block main-content %}
<h1>{% trans "Separated Animal Death" %}</h1>
<h2>{% trans "Separation Data" %}</h2>
<ul>
    <li>{% trans "ID:" %} {{ separation.id }}</li>
    <li>{% trans "Flock:" %} {{ separation.flock.flock_name }}</li>
    <li>{% trans "Separation Date:" %} {{ separation.date }}</li>
</ul>

<h2>{% trans "Death data" %}</h2>
<form action="{% url 'flocks:save_separation_death' %}" method="post">
{% csrf_token %}
    <ul>
    {{ form.as_ul }}
    </ul>
<input type="submit" value="Save" />
</form>
{% endblock %}
