.flock-list {
  table-layout: fixed;
  padding: 20px;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}
.table-header {

}

.table-row {
    border-style:solid;
    border-color: black;
}

td {
    text-align: center;
}