{% extends 'base2.html' %}
{% load i18n %}
{% load building_occupancy %}
{% block main_content %}
    <h1 class="page-header">{{ building.name }}</h1>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Feeding Information: ' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="table-header">
                            <th>{% trans "Feed Type" %}</th>
                            <th>{% trans "Capacity" %}</th>
                            <th>{% trans "Remaining" %}</th>
                            <th>{% trans "Consumption" %}</th>
                        </tr>
                        </thead>
                        {% for feed_type in feed_types %}
                            <tr class="table-row">
                                <td>{{ feed_type.name }}</td>
                                <td>{{ feed_type.capacity }}</td>
                                <td>{{ feed_type.remaining }}</td>
                                <td>{{ feed_type.consumption }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h2 class="page-header">Detailed Occupancy Information</h2>
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            {% room_group_occupancy building %}
        </div>
        <div class="col-lg-10">
            {% for room_group in building.roomgroup_set.all %}
                <div class="col-xs-6 col-sm-3">
                {% room_group_occupancy room_group %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}