{% extends "base2.html" %}
{% load i18n %}
{% load static %}
{% load kpi %}

{% block main_content %}
    <h1>{% trans "Flock information:" %} {{ flock.flock_name }}</h1>
    <div class="row">
        {% for kpi in kpi_list %}
            {% kpi kpi%}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Time Line' %}</h3>
                </div>
                <div class="panel-body">
                    {{ time_chart.as_html }}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            {% if state_chart %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Animals Status' %}</h3>
                    </div>
                    <div class="panel-body">
                        {{ state_chart.as_html }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-6 col-md-3">
            {% if distribution_chart %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Room Distribution' %}</h3>
                    </div>
                    <div class="panel-body">
                        {{ distribution_chart.as_html }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}