{% extends "base2.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'flocks/flocks.css' %}" />

{% block title %}{% trans "Flock Management" %}{% endblock %}

{% block main_content %}
    <h1> {% trans "Flock Management" %} </h1>
    <div class="row">
        {% if current_flocks %}
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Current Flocks in the farm' %}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr class="table-header">
                                <th>{% trans "Flock" %}</th>
                                <th>{% trans "Entry Date" %}</th>
                                <th>{% trans "Animals still on farm" %}</th>
                                <th>{% trans "Estimated Avg. Weight" %}</th>
                                <th>{% trans 'Animals in Treatment' %}</th>
                                <th>{% trans 'Animals separated' %}</th>
                                <th>{% trans "Death %" %}</th>
                                <th>{% trans "Expected Exit Date" %}</th>
                            </tr>
                            </thead>
                            {% for flock in current_flocks %}
                                <tr class="table-row">
                                    <td><a href="{% url 'flocks:detail' flock.id %}">{{flock.flock_name}}</a></td>
                                    <td>{{flock.entry_date}}</td>
                                    <td>{{flock.number_of_living_animals}}</td>
                                    <td>{{flock.average_entry_weight|stringformat:".2f"}}</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>{{flock.death_percentage|stringformat:".2f"}}%</td>
                                    <td>{{flock.expected_exit_date}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% else %}

        {% endif %}

        {% if current_flocks %}
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Flocks not in the farm anymore' %}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr class="table-header">
                                <th>{% trans "Flock" %}</th>
                                <th>{% trans "Entry Date" %}</th>
                                <th>{% trans "Growth Rate" %}</th>
                                <th>{% trans "Avg. Exit Weight" %}</th>
                                <th>{% trans "Death %" %}</th>
                            </tr>
                            </thead>
                            {% for flock in current_flocks %}
                                <tr class="table-row">
                                    <td><a href="{% url 'flocks:detail' flock.id %}">{{flock.flock_name}}</a></td>
                                    <td>{{flock.entry_date}}</td>
                                    <td>{{flock.computed_daily_growth|stringformat:".2f"}}</td>
                                    <td>{{flock.average_entry_weight|stringformat:".2f"}}</td>
                                    <td>{{flock.death_percentage|stringformat:".2f"}}%</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% else %}

        {% endif %}
    </div>
{% endblock %}