{% load i18n %}
{% load l10n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'flocks/flocks.css' %}" />

<title>{% trans "Flock Management" %}</title>
<h1> {% trans "Flock Management" %} </h1>

<h2> {% trans "Current Flocks in the Farm" %} </h2>
{% if current_flocks %}
    <table class="flock-list">
        <thead>
        <tr class="table-header">
            <td>{% trans "Flock" %}</td>
            <td>{% trans "Entry Date" %}</td>
            <td>{% trans "Animals still on farm" %}</td>
            <td>{% trans "Estimated Avg. Weight" %}</td>
            <td>{% trans "Death %" %}</td>
            <td>{% trans "Expected Exit Date" %}</td>
        </tr>
        </thead>
        {% for flock in current_flocks %}
            <tr class="table-row">
            <td><a href="{% url 'flocks:detail' flock.id %}">{{flock.flock_name}}</a></td>
            <td>{{flock.entry_date}}</td>
            <td>{{flock.number_of_living_animals}}</td>
            <td>{{flock.average_entry_weight|stringformat:".2f"}}</td>
            <td>{{flock.death_percentage|stringformat:".2f"}}%</td>
            <td>{{flock.expected_exit_date}}</td>
            </tr>
        {% endfor %}
</table>
{% else %}
    <p>{% trans "No flocks at the farm." %}</p>
{% endif %}
<a href="{% url 'flocks:create' %}">{%  trans "Register new flock" %}</a>

<h2> {% trans "Previous flocks" %} </h2>
{% if old_flocks %}
<table class="flock-list">
    <thead>
    <tr class="table-header">
        <td>{% trans "Flock" %}</td>
        <td>{% trans "Entry Date" %}</td>
        <td>{% trans "Average Daily Grow" %}</td>
        <td>{% trans "Death %" %}</td>
    </tr>
    </thead>
{% for flock in old_flocks %}
    <tr class="table-row">
    <td><a href="{% url 'flocks:detail' flock.id %}">{{flock.flock_name}}</a></td>
    <td>{{flock.entry_date}}</td>
    <td>{{flock.computed_daily_growth}}</td>
    <td>{{ flock.death_percentage }}%</td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>{% trans "No prevous flocks to show." %}</p>
{% endif %}
