<div class="progress" title="{{ name }} - {{occupancy}}/{{capacity}}">

    {% if occupancy > capacity %}
        <div class="progress-bar progress-bar-info" style="width: {% widthratio capacity occupancy 100 %}%;">

        </div>
        <div class="progress-bar progress-bar-danger" style="width: {% widthratio overcapacity occupancy 100 %}%;">

        </div>
    {% elif occupancy == capacity %}
        <div class="progress-bar progress-bar-info" style="width: {% widthratio occupancy capacity 100 %}%;">
        </div>
    {% else %}
        <div class="progress-bar progress-bar-warning" style="width: {% widthratio occupancy capacity 100 %}%;">
        </div>
    {% endif %}

</div>