.single-action
{
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    padding: 0px 25px;
}

.action-box
{
    width: 150px;
    height: 150px;
    background-color: #70a83b;
    color: whitesmoke;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 15px;
}

.action-text
{
    display: block;
    vertical-align: bottom;
    font-size: 16px;
}